In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

from bokeh.plotting import figure
from bokeh.models import ColumnDataSource
from bokeh.io import show, output_notebook
from bokeh.transform import dodge
from bokeh.core.properties import value

In [2]:
data = pd.read_csv("dataset/restaurants-inspections.csv")
data.info()

C:\Users\khanhdi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381912 entries, 0 to 381911
Data columns (total 18 columns):
CAMIS                    381912 non-null int64
DBA                      381403 non-null object
BORO                     381912 non-null object
BUILDING                 381684 non-null object
STREET                   381911 non-null object
ZIPCODE                  376361 non-null float64
PHONE                    381903 non-null object
CUISINE DESCRIPTION      381912 non-null object
INSPECTION DATE          381912 non-null object
ACTION                   380609 non-null object
VIOLATION CODE           376126 non-null object
VIOLATION DESCRIPTION    373524 non-null object
CRITICAL FLAG            381912 non-null object
SCORE                    363727 non-null float64
GRADE                    192351 non-null object
GRADE DATE               189820 non-null object
RECORD DATE              381912 non-null object
INSPECTION TYPE          380609 non-null object
dtypes: float64(2), int64(1), object(15)
memory usage: 52.4+ MB

In [3]:
data['INSPECTION DATE'].head()

0    05/11/2018
1    05/11/2018
2    05/18/2017
3    05/18/2017
4    02/18/2016
Name: INSPECTION DATE, dtype: object

In [4]:
data['INSPECTION DATE'] = data['INSPECTION DATE'].apply(lambda x: datetime.datetime.strptime(x,'%m/%d/%Y').year)
data['INSPECTION DATE'].head()

0    2018
1    2018
2    2017
3    2017
4    2016
Name: INSPECTION DATE, dtype: int64

In [14]:
boro = data.groupby(['BORO','INSPECTION DATE','CAMIS']).count().reset_index()
restaurant = boro.groupby(['BORO','INSPECTION DATE'])['CAMIS'].count().reset_index()
restaurant = restaurant.rename(columns = {'CAMIS':'restaurant_count'})
restaurant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 3 columns):
BORO                46 non-null object
INSPECTION DATE     46 non-null int64
restaurant_count    46 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [10]:
bronx = restaurant.loc[restaurant['BORO'] == "BRONX"]['restaurant_count'].pct_change()
type(bronx)

pandas.core.series.Series

In [13]:
boros = list(restaurant['BORO'].unique())
growth = pd.Series()
for boro in boros:
    each = restaurant.loc[restaurant['BORO'] == "BRONX"]['restaurant_count'].pct_change()
    growth = growth.append(each, ignore_index = True)
growth

0           NaN
1     -0.991228
2      2.000000
3     98.000000
4      4.134680
5      0.170492
6      0.216807
7     -0.465470
8           NaN
9     -0.991228
10     2.000000
11    98.000000
12     4.134680
13     0.170492
14     0.216807
15    -0.465470
16          NaN
17    -0.991228
18     2.000000
19    98.000000
20     4.134680
21     0.170492
22     0.216807
23    -0.465470
24          NaN
25    -0.991228
26     2.000000
27    98.000000
28     4.134680
29     0.170492
30     0.216807
31    -0.465470
32          NaN
33    -0.991228
34     2.000000
35    98.000000
36     4.134680
37     0.170492
38     0.216807
39    -0.465470
40          NaN
41    -0.991228
42     2.000000
43    98.000000
44     4.134680
45     0.170492
46     0.216807
47    -0.465470
dtype: float64

In [18]:
restaurant['growth_rate'] = growth
restaurant.head()

    BORO  INSPECTION DATE  restaurant_count  growth_rate
0  BRONX             1900               114          NaN
1  BRONX             2013                 1    -0.991228
2  BRONX             2014                 3     2.000000
3  BRONX             2015               297    98.000000
4  BRONX             2016              1525     4.134680

1    -0.991228
2     2.000000
3    98.000000
4     4.134680
5     0.170492
dtype: float64